<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Angular Rich Editor</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav [mode]="'side'" [(opened)]="isSidebarOpen" (opened)="sidebarToggle(true)"
    (closed)="sidebarToggle(false)" class="sidebar-left">
    <mat-nav-list>
      <mat-list-item *ngFor="let nav of navs">
        <a matLine routerLink={{nav.path}}>{{ nav.name }}</a>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <!-- <a mat-list-item routerLink="/form" *ngFor="let nav of navs">{{nav}}</a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button type="button" mat-button (click)="sidenav.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
